%header
  %h1 Rails Girls Tricity
  %p.date
    22-23<br> października<br> 2016
  = link_to 'http://railsgirlstricity.pl', 'http://railsgirlstricity.pl', target: '_blank'

= simple_form_for(submission, url: submit_path) do |f|
  = f.input :fullname, required: true, label: 'Imię i nazwisko'

  = f.input :city, required: true, label: 'Miasto'

  = f.input :email, as: :email, required: true

  = f.input :phone, as: :text, required: true, label: 'Telefon kontaktowy', input_html: { rows: 1 }

  = f.input :adult, as: :radio_buttons, collection: ['Tak', 'Nie'], required: true, label: 'Mam ukończone 18 lat'

  = f.input :about, as: :text, required: true, label: 'Kim jesteś? Czym zajmujesz się na co dzień? Powiedz coś o sobie, żebyśmy mogili Cię lepiej poznać? :)', input_html: { rows: 2 }

  .input
    = f.label :experience, required: true, label: 'Doświadczenie'

    %span.hint Oceń jakie masz aktualne doświadczenie, abyśmy mogli przypisać Cię do grupy o odpowiednim poziomie zaawansowania, gdzie nauczysz się najwięcej.

    %table
      %tr
        %th
        - Submission.experience_answers.each do |answer|
          %th= answer
      - Submission.experience_technologies.each do |symbol, technology|
        %tr
          %td= technology
          - Submission.experience_answers.each do |answer|
            %td.answer
              %span= radio_button_tag("submission[experience][#{symbol}]", answer)

    = f.error :experience

  = f.input :os, required: true, as: :radio_buttons, collection: Submission.os_answers, label: 'Jakiego systemu operacyjnego używasz?'

  = f.input :been_before, required: true, as: :radio_buttons, collection: ['Tak', 'Nie'], label: 'Czy brałaś/łeś wcześniej udział w 2dniowych warsztatach Rails Girls?'

  = f.input :reason, as: :text, required: true, label: 'W jaki sposób masz zamiar wykorzystać wiedzę zdobytą na warsztatach? Jakie są Twoje cele i oczekiwania?', input_html: { rows: 8 }

  = f.input :extra, as: :text, label: 'Czy chcesz coś dodać?', input_html: { rows: 4 }

  = f.input :partner, as: :text, label: 'Czy wybierasz się na warsztaty z chłopakiem / dziewczyną? Jeśli tak, wpisz poniżej imię i nazwisko osoby towarzyszącej', '(Druga osoba także musi indywidualnie wypełnić formularz rejestracyjny).'.Underline, input_html: { rows: 1 }

  .input.radio_buttons.required.submission_information_source
    %label.radio_buttons.required
      Skąd dowiedziałaś/łeś się o Rails Girls?
      %abbr{title: 'wymagane'} *
    %span.radio
      %label{for: 'submission_information_source_facebook'}
        = f.radio_button(:information_source, 'Facebook', id: 'submission_information_source_facebook')
        Facebook
    %span.radio
      %label{for: 'submission_information_source_twitter'}
        = f.radio_button(:information_source, 'Twitter')
        Twitter
    %span.radio
      %label{for: 'submission_information_source_friend'}
        = f.radio_button(:information_source, 'Od koleżanki/kolegi', id: 'submission_information_source_friend')
        Od koleżanki/kolegi
    %span.radio
      %label{for: 'submission_information_source_other'}
        = f.radio_button(:information_source, 'Inne', id: 'submission_information_source_other')
        Inne
        %input{name: 'submission[custom_information_source]', type: 'text'}

    = f.error :information_source

  .input.radio_buttons.required.submission_meal_preferences
    %label.radio_buttons.required
      Jakie są Twoje preferencje żywieniowe?
      %abbr{title: 'wymagane'} *
    %span.radio
      %label{for: 'submission_meal_preferences_neutral'}
        = f.radio_button(:meal_preferences, 'Neutralne', id: 'submission_meal_preferences_neutral')
        Neutralne
    %span.radio
      %label{for: 'submission_meal_preferences_vege'}
        = f.radio_button(:meal_preferences, 'Wege', id: 'submission_meal_preferences_vege')
        Wege
    %span.radio
      %label{for: 'submission_meal_preferences_vegan'}
        = f.radio_button(:meal_preferences, 'Wegan', id: 'submission_meal_preferences_vegan')
        Wegan
    %span.radio
      %label{for: 'submission_meal_preferences_gluten_free'}
        = f.radio_button(:meal_preferences, 'Dieta bezglutenowa', id: 'submission_meal_preferences_gluten_free')
        Dieta bezglutenowa
    %span.radio
      %label{for: 'submission_meal_preferences_other'}
        = f.radio_button(:meal_preferences, 'Inne', id: 'submission_meal_preferences_other')
        Inne
        %input{name: 'submission[custom_meal_preferences]', type: 'text'}
    = f.error :meal_preferences

  = f.input :accepts_using_personal_data, as: :boolean, required: true, label: 'Czy wyrażasz zgodę na przechowywanie, wykorzystywanie i przetwarzanie przez Rails Girls Tricity Twoich danych osobowych w celach informacyjnych, zgodnie z ustawą z dnia 29. sierpnia 1997 r. o ochronie danych osobowych (Dz. U. nr 133, poz. 833)?', inline_label: 'Tak, wyrażam zgodę'

  = f.input :accepts_rules, as: :boolean, required: true, label: "Czy akceptujesz #{link_to 'Regulamin', rules_path, target: '_blank'} warsztatów Rails Girls Tricity?".html_safe, inline_label: 'Zapoznałam/em się z treścią Regulaminu.'

  = f.submit 'Wyślij'
