%header
  %h1 Rails Girls Kraków
  %p.date 15-16 April 2016
  = link_to 'railsgirls.com/krakow', 'http://railsgirls.com/krakow', target: '_blank'

= simple_form_for(submission, url: submit_path) do |f|
  = f.input :fullname, required: true, label: 'Imię i nazwisko'
  = f.input :email, as: :email, required: true
  = f.input :age, as: :integer, required: true, input_html: { min: 0 }, label: 'Wiek'
  .input
    = f.label :codecademy_username, required: true, label: 'nazwa użytkownika codeacademy'
    %div
      %p.hint
        Chcielibyśmy, abyś ukończył/ła 
        %strong
          co najmniej 6 działów
      
        = link_to 'Ruby course at CodeCademy', 'https://www.codecademy.com/learn/ruby', target: '_blank'
        = '.'
        By to zrobić, musisz utworzyć konto na
        = link_to 'CodeCademy', 'https://www.codecademy.com/register?redirect=%2Flearn%2Fruby', target: '_blank'
        i wpisać swoją nazwe użytkownika poniżej, a my będziemy mogli zweryfikować twój postęp.
    = f.text_field :codecademy_username
    = f.error :codecademy_username
    %div
      %p.note
        Uwaga: Możesz dokonać rejestracji teraz, a skończyć kurs później. Masz czas do 
        %strong
          2 Kwietnia
        = '.'
  = f.input :about, as: :text, required: true, label: 'Kim jesteś? Czym zajmujesz się na co dzień? Powiedz coś o sobie, żebyśmy mogili Cię lepiej poznać? :)', input_html: { rows: 2 }

  .input
    = f.label :experience, required: true, label: 'Doświadczenie'

    %span.hint Help us to understand how much experience you already have so that we can assign you to the right group, where you can learn the most.

    %table
      %tr
        %th
        - Submission.experience_answers.each do |answer|
          %th= answer
      - Submission.experience_technologies.each do |symbol, technology|
        %tr
          %td= technology
          - Submission.experience_answers.each do |answer|
            %td.answer
              %span= radio_button_tag("submission[experience][#{symbol}]", answer)

    = f.error :experience

  = f.input :os, required: true, as: :radio_buttons, collection: Submission.os_answers, label: 'Jakiego systemu operacyjnego używasz?'
  = f.input :been_before, required: true, as: :radio_buttons, label: 'Brałeś już wcześniej udział w spotkaniach Rails Girls?'
  = f.input :reason, as: :text, required: true, label: 'W jaki sposób masz zamiar wykorzystać wiedzę zdobytą na warsztatach? Jakie są Twoje cele i oczekiwania?', input_html: { rows: 8 }
  = f.input :extra, as: :text, label: 'Czy jest coś na co w szczególności powinniśmy zwrócić uwagę aby Twój pobyt był przyjemniejszy?', hint: "Np. Jestem wegetarianinem", input_html: { rows: 4 }
  = f.input :partner, as: :text, label: 'Czy wybierasz się na warsztaty z chłopakiem/dziewczyną? Jeśli tak, wpisz poniżej imię i nazwisko osoby towarzyszącej.', input_html: { rows: 1 }

  = f.submit 'Send'
