<h1> {{model.displayed_position}}. {{model.fullname}} </h1>
<table>
  <tr>
    <th>Status</th>
    <td id="submission-status">{{model.status}}</td>
  </tr>
  <tr>
    <th>Data rejestracji</th>
    <td>{{FormattedDate model.created_at}}</td>
  </tr>
  <tr>
    <th>Miasto</th>
    <td>{{model.city}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{model.email}}</td>
  </tr>
  <tr>
    <th>Telefon</th>
    <td>{{model.phone}}</td>
  </tr>
  <tr>
    <th>Ukończone 18 lat</th>
    <td>{{model.adult}}</td>
  </tr>
  <tr>
    <th>Kim jesteś? Czym zajmujesz się na co dzień? Powiedz coś o sobie, żebyśmy mogili Cię lepiej poznać? :)</th>
    <td>{{model.about}}</td>
  </tr>
  <tr>
    <th>Doświadczenie</th>
    <td>
      <table>
        <tr>
          <td>HTML</td>
          <td>{{model.experience.html}}</td>
        </tr>
        <tr>
          <td>CSS</td>
          <td>{{model.experience.css}}</td>
        </tr>
        <tr>
          <td>JS</td>
          <td>{{model.experience.js}}</td>
        </tr>
        <tr>
          <td>Bazy danych</td>
          <td>{{model.experience.databases}}</td>
        </tr>
        <tr>
          <td>Ruby on Rails</td>
          <td>{{model.experience.rails}}</td>
        </tr>
        <tr>
          <td>Inny język programowania (PHP, C++, etc.)</td>
          <td>{{model.experience.programming}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>Jakiego systemu operacyjnego używasz?</th>
    <td>{{model.os}}</td>
  </tr>
  <tr>
    <th>Czy brałaś/łeś wcześniej udział w 2dniowych warsztatach Rails Girls?</th>
    <td>{{model.been_before}}</td>
  </tr>
  <tr>
    <th>W jaki sposób masz zamiar wykorzystać wiedzę zdobytą na warsztatach? Jakie są Twoje cele i oczekiwania?</th>
    <td>{{model.reason}}</td>
  </tr>
  <tr>
    <th>Czy chcesz coś dodać?</th>
    <td>{{model.extra}}</td>
  </tr>
  <tr>
    <th>Czy wybierasz się na warsztaty z chłopakiem / dziewczyną? Jeśli tak, wpisz poniżej imię i nazwisko osoby towarzyszącej.</th>
    <td>{{model.partner}}</td>
  </tr>
  <tr>
    <th>Skąd dowiedziałaś/łeś się o Rails Girls?</th>
    <td>
      {{model.information_source}}
      {{#if model.custom_information_source}}
        : {{model.custom_information_source}}
      {{/if}}
    </td>
  </tr>
  <tr>
    <th>Jakie są Twoje preferencje żywieniowe?</th>
    <td>
      {{model.meal_preferences}}
      {{#if model.custom_meal_preferences}}
        : {{model.custom_meal_preferences}}
      {{/if}}
    </td>
  </tr>
</table>
<br/>
<br/>
<br/>
<br/>
<br/>
