<h1> {{model.displayed_position}}. {{model.fullname}} </h1>
<table>
  <tr>
    <th>Status</th>
    <td id="submission-status">{{model.status}}</td>
  </tr>
  <tr>
    <th>Codecademy Status</th>
    <td>{{model.codecademy_status}}</td>
  </tr>
  <tr>
    <th>Data rejestracji</th>
    <td>{{FormattedDate model.created_at}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{model.email}}</td>
  </tr>
  <tr>
    <th>Osoba pełnoletnia</th>
    <td>{{model.adult}}</td>
  </tr>
  <tr>
    <th>O sobie</th>
    <td>{{model.about}}</td>
  </tr>
  <tr>
    <th>Doświadczenie</th>
    <td>
      <table>
        <tr>
          <td>HTML</td>
          <td>{{model.experience.html}}</td>
        </tr>
        <tr>
          <td>CSS</td>
          <td>{{model.experience.css}}</td>
        </tr>
        <tr>
          <td>JS</td>
          <td>{{model.experience.js}}</td>
        </tr>
        <tr>
          <td>Bazy danych</td>
          <td>{{model.experience.databases}}</td>
        </tr>
        <tr>
          <td>Ruby on Rails</td>
          <td>{{model.experience.rails}}</td>
        </tr>
        <tr>
          <td>Inny język programowania (PHP, C++, etc.)</td>
          <td>{{model.experience.programming}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>System operacyjny</th>
    <td>{{model.os}}</td>
  </tr>
  <tr>
    <th>Czy brałaś/łeś wcześniej udział w warsztatach Rails Girls?</th>
    <td>{{model.been_before}}</td>
  </tr>
  <tr>
    <th>W jaki sposób masz zamiar wykorzystać wiedzę zdobytą na warsztatach? Jakie są Twoje cele i oczekiwania?</th>
    <td>{{model.reason}}</td>
  </tr>
  <tr>
    <th>Dodatkowe informacje</th>
    <td>{{model.extra}}</td>
  </tr>
  <tr>
    <th>Osoba towarzysząca</th>
    <td>{{model.partner}}</td>
  </tr>
  <tr>
    <th>Codecademy</th>
    <td>
      <a href="https://www.codecademy.com/{{model.codecademy_username}}" id='codecademy' target="_blank"> {{model.codecademy_username}} </a>
    </td>
  </tr>
  <tr>
    <th>Id</th>
    <td>{{model.id}}</td>
  </tr>
</table>
<br/>
<br/>
<br/>
<br/>
<br/>
